<html>
    <head>
        <title>customer managment system</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    
<body>
    <form action="/" method="post">
        <input type="text" name="username" placeholder="username" >
        <input type="password" name="password" placeholder="password" >
        <button type="submit">Login</button>
    </form>